@media (min-width: 768px) {
  .backgroundimages {
    height: 380px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .backgroundimages {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1500px) {
  .backgroundimages {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
  }
}

