*{
  margin-left: 0px;
  padding: 0px;
}
body {
  background: #e4e4e4 !important;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #002f62;
}
.site-header{
  background-color: #002f62;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
  font-family: 'Lato',sans-serif;
  font-size: 12px;
  font-weight:700;
  text-transform: uppercase;
}

.site-header .navbar-nav .nav-link:hover {
  color: #cccccc;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background-color:#d2d2d2;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-section {
  background-color:#e6e6e6;
  padding: 10px 20px;
  border: 1px solid #969696;
  border-radius: 3px;
  margin-bottom: 20px;
}

.lefti{
  padding: 50px 20px;
}

.article-title {
  color: #444444;
}
a.article-title:hover {
  color: #428bca;
  text-decoration: none;
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  background-color: #f1f1f1;
}
ul :hover{
  background-color: #002f62;
  color: #fafafa;
}


ul li a {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: #333333;
  font-family: sans-serif;
}

li a:hover:not(.active) {
  color: white;
}
.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.btn-outline-info{
  float: right;
  margin-top: 30px;
  width: 150px;
  margin-bottom: 100px;
}

/*.btn-outline-info{color:#17a2b8;border-color:#17a2b8}*/

.btn-outline-primary{
  color:#17a2b8;
  border-color:#17a2b8
}
.btn-outline-primary:hover{
  color:#fff;
  background-color:#17a2b8;
  border-color:#17a2b8
}

.pagenum {
  color:#17a2b8;
  border-color:#17a2b8
}

.pagenum:hover {
  color:#fff;
  background-color:#17a2b8;
  border-color:#17a2b8
}

.currpage {
  color:#fff;
  background-color:#17a2b8;
  border-color:#17a2b8
}

label , .lable{
  color: cadetblue;
}

#smal{
  font-size:20px ;
  color: #428bca;
}
footer{
  background-color: #002f62;
  text-align: center;
  color: #fafafa;
}
footer p{
  margin-bottom: 0;
}
.btn-info {
  width: 130px;
  margin-top: 30px;
}

.form-check-input{
  width: 25px;
  height: 25px;
}
.form-check-label{
  margin-left: 10px;
  margin-top: 5px;
}

.col-md-8{
  -ms-flex:0 0 66.666667%;
  flex:0 0 66.666667%;
  max-width: 76.666667%
}
.form-control{
margin: 0 auto;
}
