<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="row">
                <h3>Export successful</h5>
                <a href="{% url 'index' %}" class='btn btn-primary'>Return home</a>
            </div>
        </div>
    </div>
    
</body>
</html>